#content{
	padding: 0;
}

#advert{	
}
#advert .advert-pic{
	width: 100%;
}
.overall{position: absolute; top:170px; width: 100%; z-index: 0;}
.adv1{top:100px;float:right;text-align: right;}
.adv1 h1{font-size: 60px;}
.adv1 h2{font-size: 38px;}
.adv1 img{width: 70%; float: left; margin-left: 40px;}
.adv1 .adv1-moveup{position: absolute;top:230px; left: 250px;text-align: left;color: #333;width: 150px;font-size: 18px;}