body{
	background-color: #8E0110;
}

.container.wrap{
	background-color: #fff;
padding:0;
-webkit-box-shadow: 7px 0px 20px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    7px 0px 20px 0px rgba(50, 50, 50, 0.75);
box-shadow:         7px 0px 20px 0px rgba(50, 50, 50, 0.75);
}
